.deer-editor-main {
  height: 100%;
  overflow: hidden;
  & > .deer-editor-main-layout {
    height: 100%;
  }
  .deer-editor-main-layout-content {
    display: flex;
    flex-direction: column;
    .deer-editor-scroll-layout {
      overflow-y: auto;
    }
  }
  .new-project-layout {
    margin: 16px auto;
    max-width: 440px
  }
}